[run]
branch = True
omit =
    */test/*
    */migrations/*
    */models/*
    */utils/*
    */docs/*
    */scripts/*
    */__init__.py
    */__main__.py

[report]
exclude_lines =
    # Ignore imports
    from
    import
    pass