# Install swagger-ui before connexion.
connexion[swagger-ui]

connexion == 2.6.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
flask==1.1.*
Flask-Cors==3.0.10
python-dotenv==0.16.0
swagger-ui-bundle==0.0.8
pypika>=0.48.0
scikit-learn>=0.24.1
sphinx-rtd-theme